.container{
    margin: 0 auto;
    width: 960px;
}
body {
    font-family: "Times New Roman", times, serif;
    line-height: 1.6;
    background: #FAEBD7 ;
}
.lugar{
    border-color: #CCC #999 #999 #CCC;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
    padding: 10px;
}
.lugar h2{
    border-bottom: 1px dashed #5c6818;
    margin: 0;
}
.lugar a {
    color: #2C11AF;
    font-weight: bold;
}
a{
    color: #2C88A7;
    text-decoration: none;
}
a:hover { 
    color: white;
    background-color: black;
}